<button mat-button (click)="openTaskDialog()">➕ Добавить задачу</button>


<div class="board">
  <div *ngFor="let column of columns" class="example-container">
    <h2>{{ column.name }}</h2>

    <div
      cdkDropList
      [id]="'col-' + column.id"
      [cdkDropListData]="column.tasks"
      [cdkDropListConnectedTo]="connectedLists"
      class="example-list"
      (cdkDropListDropped)="drop($event, column.id)">

      <div *ngFor="let task of column.tasks" class="example-box" cdkDrag>
        {{ task.title }}
      </div>

    </div>
  </div>
</div>
