<mat-toolbar *ngIf="!isLoginPage()">
  <div class="flex-center">
    <a mat-icon-button href="/" class="flex-center" *ngIf="!isHomePage()">
      <mat-icon>home</mat-icon>
    </a>
    <span *ngIf="!projectTitle">Планировщик задач</span>

    <span *ngIf="projectTitle" class="project-title">Проект: {{ projectTitle }}</span>
  </div>
  <div class="flex-center" *ngIf="isAuthenticated">
    <span class="user-login">{{userLogin}}</span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="userRole == 'admin'">
        <mat-icon>face</mat-icon>
        <a href="/admin">Панель администратора</a>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Выход</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
