.task-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  max-height: 800px;
}

.task-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.full-width {
  width: 100%;
}

.comments-section {
  margin-top: 5px;
  max-height: 300px;
  overflow: auto;
}

.add-comment-card {
  padding: 10px;
  background-color: #f7f7f7;
}

.comment {
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

h3 {
  margin: 0;
}

textarea {
  resize: none;
}

.task-description {
  background: #efefef;
  padding: 5px;
  border-radius: 4px;
  min-height: 80px;
}
