<h2 mat-dialog-title>Детали задачи</h2>
<form [formGroup]="taskForm" class="form-container">
  <mat-form-field>
    <mat-label>Название</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Описание</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Дата завершения</mat-label>
    <input
      matInput
      formControlName="dueDate"
      [matDatepicker]="picker"
      [matDatepickerFilter]="dateFilter"
    >
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Приоритет</mat-label>
    <mat-select formControlName="priority">
      <mat-option value="Low">Низкий</mat-option>
      <mat-option value="Medium">Средний</mat-option>
      <mat-option value="High">Высокий</mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button color="warn" (click)="deleteTask()" *ngIf="isAdmin">Удалить</button>
    <button mat-button (click)="dialogRef.close()">Закрыть</button>
    <button mat-button *ngIf="isAdmin" (click)="saveChanges()" [disabled]="taskForm.invalid">
      Сохранить
    </button>
  </div>
</form>
