<div class="container flex-between">
  <h1>ВСЕ ПРОЕКТЫ</h1>
  <button mat-raised-button color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
    <span>добавить проект</span>
  </button>
</div>

<div class="container">
    <ng-container *ngFor="let project of allProjects">
      <mat-card class="card" (click)="gotoProject(project.id)">
        <div class="list-item">
          <span>{{project.name}}</span>

          <button *ngIf="isAdmin" (click)="deleteProject(project.id)" mat-raised-button color="warn">
            <mat-icon> delete </mat-icon>
            <span>удалить</span>
          </button>
        </div>
      </mat-card>
    </ng-container>
</div>
