<h2 mat-dialog-title>Добавить проект</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Название проекта</mat-label>
    <input matInput [(ngModel)]="project.name">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Описание проекта</mat-label>
    <textarea rows="10" matInput [(ngModel)]="project.description"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-raised-button color="primary" (click)="addProject()">Добавить</button>
</mat-dialog-actions>
