<div class="p-10">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div class="flex-center justify-between">
          <button mat-icon-button (click)="prevMonth()">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <div class="text-lg font-semibold">{{ currentMonth }}</div>
          <button mat-icon-button (click)="nextMonth()">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="calendar">
        <div class="calendar-header">
          <div class="calendar-cell header" *ngFor="let dayName of daysOfWeek">{{ dayName }}</div>
        </div>

        <div class="calendar-week" *ngFor="let week of calendarGrid">
          <div class="calendar-cell" *ngFor="let day of week"
               [ngClass]="{ 'outside-month': !isCurrentMonthDay(day) }">
            <div class="date">{{ day | date: 'dd.MM' }}</div>
            <ng-container *ngFor="let task of tasks">
              <div class="task-chip"
                   *ngIf="isTaskOnDay(task, day)"
                   [ngStyle]="{ 'background-color': getTaskColor(task) }">
                {{ task.title }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
